@import "../../styles/common.scss";

.vzb-tool {
  .vzb-datetime-background {
    font-family: "Lucida Console", "Monaco", monospace;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    user-select: none;
    pointer-events: none;
    svg {
      width: 100%;
      height: 100%;
      text {
        @include opacity(.3);
        fill: $vzb-color-primary;
        text-anchor: middle;
      }
    }
  }
}