.vzb-dialogs {
    .vzb-dialogs-dialog {
      &[data-dlg="repeat"] {
        &.vzb-moreoptions.vzb-accordion-section.vzb-accordion-active {
          max-height: 2000px !important;
  
          .vzb-repeat-header {
            margin-bottom: 30px;
          }
          .vzb-repeat-body {
            .vzb-repeat-grid {
              height: 150px;
              display: grid;
              grid-gap: 3px;
              div {
                border: 1px solid;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;                
              }
              .vzb-repeat-segment{
                border-color: black;
                background-color: $vzb-color-grey-light;
              }
              .vzb-repeat-addcolumn, .vzb-repeat-addrow{
                border-color: green;
                background-color: $vzb-color-green;
                cursor: pointer;
                color: green;
                font-size: 1.5em;
              }
              .vzb-repeat-removecolumn, .vzb-repeat-removerow{
                border-color: darkred;
                background-color: $vzb-color-red;
                cursor: pointer;
                color: $vzb-color-white;
                font-size: 1.5em;
                position: relative;
                width: 30px;
                height: 30px;
                border-radius: 15px;                
              }
              .vzb-repeat-removecolumn {
                grid-row-start: 1;
                top: -15px;
                margin-left: auto;
                margin-right: auto;
              }
              .vzb-repeat-removerow{
                grid-column-start: 1;
                left: -15px;
                margin-top: auto;
                margin-bottom: auto;
              }
            }
          }
  
        }
      }
    }
  }
  