@import "../../../styles/common.scss";
.vzb-tool {

  .vzb-addgeo{
    position: absolute;
    z-index: 5;

    .vzb-addgeo-button {
      &:hover {
        text-decoration: underline;
      }
      &::before {
        content: "➕";
        margin: 0.2em;
      }
      position: absolute;
      cursor: pointer;
      color: $vzb-color-primary-darkest;
      right: 0px;
    }
  }

  &.vzb-large {
    .vzb-addgeo{
      .vzb-addgeo-button{
        font-size: $vzb-font-size-medium;
      }
    }
  }
  &.vzb-medium {
    .vzb-addgeo{
      .vzb-addgeo-button{
        font-size: $vzb-font-size-regular;
      }
    }
  }
  &.vzb-small {
    .vzb-addgeo{
      .vzb-addgeo-button{
        font-size: $vzb-font-size-small;
      }
    }
  }
}