.vzb-tool {
    .vzb-facet {
      display: grid;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 1;
      width: 100%;
      height: 100%;
    }
  }