.vzb-tool {
  $size-button-list: 60px;
  $size-button-list-small: 50px;
  $size-button-list-large: 62px;
  $size-animation-large: 50px;
  $size-animation: 40px;
  $vzb-button-expand-width: 290px;

  overflow: hidden;

  display: grid;
  grid-template-columns: auto $size-button-list;
  grid-template-rows: auto $size-animation;

  .vzb-animationcontrols {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;

    display: flex;
    .vzb-timeslider {
      flex: 1 1 auto;
    }
    .vzb-speedslider {
      flex: 0 0 35px;
    }
  }

  .vzb-sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;

    background-color: $vzb-color-primary-lightest;

    .vzb-buttonlist {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      white-space: normal;
      position: static;
      //overflow: visible;
      text-align: center;

      input,
      textarea,
      keygen,
      select,
      button {
        font-family: $vzb-font-family;
      }

      &:-webkit-scrollbar {
        display: none;
      }
    }
  }

  &.vzb-small {
    &.vzb-portrait {
      grid-template-columns: auto;
      grid-template-rows: auto $size-animation $size-button-list-small;
      
      .vzb-sidebar {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;

        .vzb-buttonlist {
          flex-direction: row;
          justify-content: center;
        }
      }
    }
    &.vzb-landscape {
    }
  }

  &.vzb-medium {
  }

  &.vzb-large {
    grid-template-rows: auto $size-animation-large;

    &.vzb-dialog-expand-true {
      grid-template-columns: auto $vzb-button-expand-width;

      .vzb-sidebar {
        display: flex;
        flex-direction: column;

        .vzb-buttonlist {
          height: $size-button-list-large;
          flex-direction: row;
          justify-content: center;
          margin-top: auto;
        }
      }
    }
  }
}