.vzb-tool {
  overflow: hidden;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;          

  .vzb-timeslider {
    grid-row-start: 2;
  }

  &.vzb-small {
    &.vzb-portrait {
      grid-template-columns: auto;
      grid-template-rows: auto 40px 50px;          
    }
    &.vzb-landscape {
      grid-template-columns: auto 60px;
      grid-template-rows: auto 40px;
    }
  }

  &.vzb-medium {
    grid-template-columns: auto 60px;
    grid-template-rows: auto 40px;
  }

  &.vzb-large {
    grid-template-columns: auto 60px;
    grid-template-rows: auto 50px;
    &.vzb-dialog-expand-true {
      grid-template-columns: auto 230px;
      grid-template-rows: auto 12px 50px;
    }
  }
}