// ****************************************************************************
//
//   Common styles used in various charts
//
// ****************************************************************************
%vzb-chart-wrapper {
  //@include position(absolute, 0);
  direction: ltr;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
  grid-auto-columns: 0;
}

%vzb-chart-svg {
  //@include position(absolute, 0);
  color: $vzb-color-grey-dark;
  margin: 0;
  overflow: hidden;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  align-self: stretch;
  justify-self: stretch;
  //height: 100vh;//100%;
  //width: 100vw;//100%;
}

%vzb-chart-ticks-small {
  font-size: $vzb-font-size-small;
}

%vzb-chart-ticks-medium {
  font-size: $vzb-font-size-regular;
}

%vzb-chart-ticks-large {
  font-size: $vzb-font-size-medium;
}

%vzb-chart-ticks {
  @extend %vzb-chart-ticks-small;
  fill: currentColor;
  stroke: none;
}

%vzb-chart-axis-title {
  color: $vzb-color-primary-black;
  cursor: pointer;
  fill: currentColor;
  stroke: white;
  paint-order: stroke;
  stroke-width: 4px;
  stroke-opacity: 0.8;

  &:hover {
    text-decoration: underline;
  }
  &.vzb-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

%vzb-chart-axis-title-small {
  font-size: $vzb-font-size-regular;
}

%vzb-chart-axis-title-medium {
  font-size: $vzb-font-size-medium;
}

%vzb-chart-axis-title-large {
  font-size: $vzb-font-size-large;
}

%vzb-chart-axis {
  color: $vzb-color-primary-black;
  fill: none;
  stroke: $vzb-color-primary-black;
  path,
  line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: $vzb-color-primary-black;
  }
  .tick line,
  .tick-minor {
    stroke: $vzb-color-grey-light;
  }
  text {
    @extend %vzb-chart-ticks;
  }
}
%vzb-chart-axis-medium {
  .tick line,
  .tick-minor {
    stroke: $vzb-color-grey-light;
  }
}
%vzb-chart-axis-large {
  .tick line,
  .tick-minor {
    stroke: $vzb-color-grey-light;
  }
}
%vzb-chart-axis-presentation {
  .tick line,
  .tick-minor {
    stroke: none;
  }
}

%vzb-chart-info {
  cursor: pointer;
  opacity: 0.3;
  pointer-events: visible;

  path {
    fill: $vzb-color-primary;
    stroke: none;
  }

  circle {
    fill: none;
    stroke: $vzb-color-primary;
  }

  &:hover {
    opacity: 1;
  }
}

%vzb-chart-tooltip {
  .stroke {
    @include stroke(3px);
  }

  text {
    fill: $vzb-color-black;
    pointer-events: none;
    text-anchor: end;
  }

  rect {
    cursor: pointer;
    pointer-events: none;
  }

  .vzb-tooltip-border {
    fill: $vzb-color-white;
    stroke: $vzb-color-black;
    stroke-width: 1.5px;
  }
}

%vzb-chart-label-shadow {
  @include opacity(0.7);
  fill: $vzb-color-white;
  stroke: $vzb-color-white;
}

%vzb-chart-label-shadow-small {
  stroke-width: 2px;
}

%vzb-chart-label-shadow-medium {
  stroke-width: 3px;
}

%vzb-chart-label-shadow-large {
  stroke-width: 3px;
}
