@import "../../styles/common.scss";

$vzb-ts-btn-area: 40px;
$vzb-ts-btn-width: 40px;
$vzb-ts-btn-bg: $vzb-color-primary;
$vzb-ts-btn-bg-active: #2f7687;
$vzb-ts-slider-color: $vzb-color-primary;
$vzb-ts-value-width: 40px;

$color-text: rgb(15, 14, 14);

.vzb-timeslider {
  min-height: $vzb-ts-btn-area;
  position: relative;

  &.vzb-ts-disabled {
    opacity: 0.4;
    pointer-events: none;
    .vzb-ts-slider-slide {
      .background {
        pointer-events: none;
      }
    }
    .vzb-ts-slider-handle {
      visibility: hidden;
      pointer-events: none;
    }
  }

  .vzb-ts-btns {
    @include position(absolute, 0 null 0 0);
    margin-left: 5px;
    width: $vzb-ts-btn-area;
    pointer-events: none;
    .vzb-ts-btn {
      @include border-radius(40px);
      font-size: $vzb-font-size-regular;
      width: $vzb-ts-btn-width;
      height: $vzb-ts-btn-width;
      background: $vzb-color-white;
      display: block;
      border: 0;
      padding: 0;
      margin: 5px;
      cursor: pointer;
      pointer-events: auto;

      .vzb-icon {
        width: $vzb-ts-btn-width;
        height: $vzb-ts-btn-width;
        path {
          fill: $vzb-ts-btn-bg;
        }
      }
      // &.vzb-ts-btn-loading {
      //   background: $vzb-ts-btn-bg;
      // }
      &:active,
      &:focus {
        outline: none;
        path {
          fill: $vzb-ts-btn-bg;
        }
      }
    }
  }
}