.vzb-dialogs {
  .vzb-dialogs-dialog {
    &[data-dlg="size"] {
      &.vzb-popup {
        .vzb-dialog-modal {        
          .vzb-dialog-title {
            @include rtl {
              padding-left: 5px;
              padding-right: 25px;
            }
            padding-right: 5px;
          }
        }
      }

      &.vzb-popup,
      &.vzb-sidebar {
        .vzb-dialog-title {
          display: flex;
          flex-direction: row;
          align-items: center;
          > span:first-child {
            display: block;
            flex: 0 0 auto;
          } 
        }

        .vzb-saxis-selector {
          display: block;
          flex: 1 1 auto;
          min-width: 1px;
        }
      }

      //hiding elements when in sidebar mode
      &.vzb-sidebar {
        .vzb-dialog-subtitle,
        .vzb-dialog-bubblesize {
          display: none;
        }
  	  }

      .vzb-dialog-modal {        
        display: grid;
        grid-template-rows: 40px 175px;

        .vzb-dialog-title {
          .vzb-saxis-selector {
            .vzb-ip-select {
              background-color: $vzb-color-white;
              &:hover {
                background-color: $vzb-color-grey-light;
              }
            }
          }

          .vzb-dialog-bubblesize {
            position: absolute;
            top: 40px;
          }
        }

        .vzb-dialog-subtitle {
          position: absolute;
          bottom: 0px;
        }
      }
    }
  }
}

//responsiveness
&.vzb-large {
  &.vzb-dialog-expand-true {
    .vzb-dialogs-dialog {
      &[data-dlg="size"] {
        &.vzb-sidebar {
          flex: none;
        }
      }
    }
  }
}
