@import "../../styles/common.scss";
//general styles

.vzb-tool {
  .vzb-cl-rainbow-legend {
    display: none;
  }

  [data-dlg="moreoptions"] {
    .vzb-cl-rainbow-legend {
      display: block;
    }
  }

  .vzb-cl-outer {

    .vzb-cl-holder {
      min-height: 140px;
      width: 100%;
      overflow: hidden;
    }

    .vzb-cl-colorlist {
      overflow: hidden;
    }

    .vzb-cl-option {
      @include rtl {
        padding-left: 0;
        padding-right: 15px;
      }
      padding-bottom: 5px;
      padding-top: 5px;
      cursor: pointer;
      padding-left: 15px;

      .vzb-cl-color-sample {
        @include rtl {
          margin-left: 10px;
          margin-right: 0;
        }
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-right: 10px;
        cursor: pointer;
      }
      .vzb-cl-color-legend {
        display: inline-block;
        vertical-align: super;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      &.vzb-cl-compact {
        display: inline-block;
        float: left;
        .vzb-cl-color-legend {
          display: none;
        }
      }
    }
    .vzb-cl-labelscale {
      top: 5px;
      padding-top: 20px;
      padding-bottom: 10px;
      height: 50px;
      svg {
        overflow: visible;
        position: absolute;
        left: 0;
        right: 0;
        top: 25px;
        height: 20px;
        .tick-minor {
          stroke: $vzb-color-grey-dark;
        }
        text {
          font-size: $vzb-font-size-small;
        }
      }
      .vzb-cl-subtitle {
        top: 30px;
        position: relative;
        padding-bottom: 5px;
      }
    }

    .vzb-cl-rainbow-holder {
      position: relative;
    }

    .vzb-cl-rainbow-legend {
      height: 40px;
      position: absolute;
      .vzb-cl-rainbow-legend-eventarea {
        fill: transparent;
        cursor: pointer;
        height: 20px;
        position: absolute;
      }
      .vzb-cl-rainbow-legend-circle {
        cursor: pointer;
        overflow: hidden;
        position: absolute;
        transform: rotate(45deg);
        &.dragging {
          box-shadow: 0px 0px 20px 6px white;
        }
        input {
          cursor: pointer;
          pointer-events: none;
          border: none;
          padding: 0px;
          width: 24px;
          height: 24px;
          position: absolute;
          top: -6px;
          left: -6px;
        }
      }
    }

    .vzb-cl-rainbow {
      height: 20px;
      position: absolute;
      left: 0;
      right: 0;
    }
    .vzb-cl-minimap {
      height: 145px;
      width: 100%;
      svg {height: 100%;}
    }
    .vzb-cl-subtitle-text {
      display: block;
      white-space: normal;
    }
    
    .vzb-cl-subtitle-reset {
      position: absolute;
      right: 20px;
      bottom: 0px;
      color: $vzb-color-red;
      font-size: $vzb-font-size-small;
      cursor: pointer;
    }


    .vzb-cl-more-hint {
      position: absolute;
      bottom: 0;
      opacity: 0.3;
      right: 0;
      font-size: $vzb-font-size-small;
    }

    .vzb-cl-select-dialog {
      opacity: 1;
      position: absolute;
      display: block;
      padding: 5px 15px;
      top: 25%;
      left: 20px;
      right: 20px;
      border: 1px solid #000;
      border-radius: 4px;
      background: $vzb-color-primary-lightest;
      z-index: 1;

      .vzb-clickable {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      input {
        border: none;
        width: 20px;
        height: 10px;
      }

      &-item {
        @include rtl {
          float: right;
        }
        float: left;
        margin: 3px auto;

        // &-moreoptions {
        //   display: none;
        // }

        &-disabled {
          opacity: 0.5;
          cursor: default;
          pointer-events: none;
        }

        &-tooltip {
          white-space: normal;
          font-size: $vzb-font-size-small;
        }
      }

      &-close {
        @include rtl {
          left: 5px;
          right: auto;
        }
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      &-title {
        margin-bottom: 5px;
        font-weight: bold;
      }
    }

  }

  .vzb-moreoptions {
    // .vzb-cl-select-dialog-item-moreoptions {
    //   display: block;
    // }
    .vzb-cl-labelscale {
      height: 55px;
    }
  }
}