@import "../../styles/common.scss";


.vzb-tool {
  .vzb-marker-contextmenu {
    max-width: 250px;
    top: 125px;
    opacity: 1;
    position: absolute;
    display: block;
    padding: 5px 15px;
    top: 23%;
    left: 20px;
    right: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    background: $vzb-color-primary-lightest;
    z-index: 1;

    .vzb-clickable {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    input {
      border: none;
      width: 20px;
      height: 10px;
    }

    &-item {
      @include rtl {
        float: right;
      }
      float: left;
      overflow-x: hidden;
      width: 100%;
      text-overflow: ellipsis;

      // &-moreoptions {
      //   display: none;
      // }

      &-disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
      }

      &-tooltip {
        white-space: normal;
        font-size: $vzb-font-size-small;
      }
    }

    &-close {
      @include rtl {
        left: 5px;
        right: auto;
      }
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 5px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &-title {
      margin-bottom: 5px;
      font-weight: bold;
      overflow-x: hidden;
      width: 90%;
      text-overflow: ellipsis;
    }
  }

}

